<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
<title>PAIKKAKUNTAHAKU</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
<h1>HAE JÄSENIÄ PAIKKAKUNNAN PERUSTEELLA</h1>
</div>

<form th:action="@{/etsi/{paikkanimi}}" method="get">
  <label for="paikkanimi">Paikkakunta</label>
  <input type="text" id="paikkanimi" name = "paikkanimi"/><br/>
  
  <input type="submit" value="Etsi"/>
</form>

</body>
</html>