<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	
<head>
	<title>Asuinpaikkahaku</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>

<div> 
	<h1>Jäsenet asuinpaikan perusteella</h1>
</div>


	<table class="table table-striped">
	<tr>
		<td> <b>Nimi</b> </td>
		<td> <b>Sähköposti</b> </td>



	</tr>
	<tr th:each="jasen : ${jasenet}">
		<td th:text="${jasen.etunimi} + ' ' + ${jasen.sukunimi}"/td>
		<td th:text="${jasen.sposti}"/td>


		
	
	</tr>
		
	</table>

	<a href="/jasenlista">Takaisin jäsenlistaukseen</a>


	
	
</body>

</html>